body {
    margin: 0;
    font-family: sans-serif;
    background-color: #F6FFD0;
}

@font-face {
    font-family: header-font;
    src: url(Yellowtail-Regular.ttf);
}

.container {
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    text-transform: uppercase;
  
}

h1 {
    text-align: center;
    margin-bottom: 8px;
    font-family: header-font;
}

#results, #current-score, #finalresult, .btn {
    height: 20px;
    
}

#current-score {
    font-size: 32px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}


ul {
    margin: 30px 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.selections li{
   border: 1px solid black;
   box-shadow: 10px 10px  lightblue;
   border-radius: 50px;
   padding: 22px;
   width: 120px;
   height: 120px;
   cursor: pointer;
   
}

img {
    width: 120px;
   
}


#btn {
    display: none;
    padding: 10px 80px;
    border-color: lightblue;
    border-radius: 12px;
    background-color: #F6FFD0;
}

#btn:hover {
    font-weight: 700;
    cursor: pointer;
}

.selections li:hover {
    border: 1px solid lightblue;
    
}

footer {
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 8px 0;
}

footer a {
    text-decoration: none;
    color: black;
}

footer img {
    width: 20px;
}